/************** GENERELLE INDSTILLINGER **************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2e3243;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffff;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffff;
}

img {
    width: 100%;
}

.sectionwrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.hide {
    display: none;
}

section {
    overflow: hidden;
}
/************** GENERELLE INDSTILLINGER SLUT **************/



/************** MOBIL MENU **************/
.nav_menu {
    bottom: 0;
    width: 100vw;
    position: fixed;
    background-color: #262938f8;
    padding: 8px 0 35px 0;
    box-shadow: 4px 4px 8px #00000048;
    text-align: center;
    border-radius: 30px 30px 0 0;
}

.nav_menu h3 {
    margin: 0;
    font-weight: 500;
}

.nav_menu .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_menu .nav_links .menu_dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
}

.nav_menu .nav_links a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
}

.nav_menu .nav_links p {
    position: relative;
    top: 25%;   
}
/************** MOBIL MENU SLUT **************/


/************** 00 CV **************/
#cv header {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

#cv header .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #C45450;
    margin-right: 10px;
}

#cv header .rect {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #C45450;
    margin-left: 122px;
}

#cv h1 {
    color: #C45450;
    font-size: 1.8rem;
    font-weight: 500;
}

#cv h1 strong {
    font-size: 2.6rem;
}

#cv .sectionwrapper .col_picture {
    flex-grow: 1;
}

#cv .sectionwrapper .col_picture h2 {
    font-size: 1.5rem;
    padding-top: 15px;
    color: #C45450;
    margin: 0 0 5px 0;
    font-weight: 500;
}

#cv .sectionwrapper .col_picture img {
    border: 2px solid #707070;
}

#cv .sectionwrapper .col_picture .cv_img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    background-image: url('media/cv_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #707070;
}

#cv .sectionwrapper p {
    margin: 6px 0;
}

#cv .sectionwrapper .col_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#cv .sectionwrapper .col_text .top p {
    margin: 6px 0;
}

#cv .sectionwrapper .col_text .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
}

#cv .sectionwrapper .col_text .top h2, 
#cv .sectionwrapper .col_text .bottom h2 {
    padding-top: 15px;
    color: #C45450;
    margin: 10px 0 0 0;
}

#cv .sectionwrapper .col_text .bottom h3 {
    font-size: 2.8rem;
    margin: 0;
    padding-right: 10px;
    color: #707070;
    font-weight: 300;
}

#cv .sectionwrapper .col_text .bottom .edu_2006, 
#cv .sectionwrapper .col_text .bottom .edu_2015, 
#cv .sectionwrapper .col_text .bottom .edu_2018,
#cv .sectionwrapper .col_text .bottom .work_2014,
#cv .sectionwrapper .col_text .bottom .work_2016,
#cv .sectionwrapper .col_text .bottom .work_2019 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cv .sectionwrapper .col_text .bottom p {
    margin: 6px 0;
}
/************** 00 CV SLUT **************/



/************** 02 WEB **************/
#web .sectionwrapper .col {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#web header {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

#web header .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7F6CB3;
    margin-right: 10px;
}

#web header .rect {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #7F6CB3;
    margin-left: 102px;
}

#web h1 {
    color: #7F6CB3;
    font-size: 1.8rem;
    font-weight: 500;
}

#web h1 strong {
    font-size: 2.6rem;
}

#web .sectionwrapper .nav_menu h3 {
    color: #7F6CB3;
}

#web .sectionwrapper .nav_menu .nav_links .menu_dot {
    background-color: #7F6CB3;
}

#web .sectionwrapper .col {
    padding-bottom: 10px;
}

#web .sectionwrapper .col:nth-child(3) {
    padding-bottom: 135px;
}

#web .sectionwrapper .col h2 {
    padding-top: 15px;
    color: #7F6CB3;
    margin: 10px 0 0 0;
}

#web .sectionwrapper p {
    margin: 6px 0;
}

#web .sectionwrapper .col .text a {
    text-decoration: none;
    color: #7F6CB3;
}
/************** 02 WEB SLUT **************/


/************** 03 UX **************/
#ux .sectionwrapper .col {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#ux header {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

#ux header .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #40B8E6;
    margin-right: 10px;
}

#ux header .rect {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #40B8E6;
    margin-left: 122px;
}

#ux h1 {
    color: #40B8E6;
    font-size: 1.8rem;
    font-weight: 500;
}

#ux h1 strong {
    font-size: 2.6rem;
}

#ux .sectionwrapper .nav_menu h3 {
    color: #40B8E6;
}

#ux .sectionwrapper .nav_menu .nav_links .menu_dot {
    background-color: #40B8E6;
}

#ux .sectionwrapper .col {
    padding-bottom: 10px;
}

#ux .sectionwrapper .col:nth-child(3) {
    padding-bottom: 135px;
}

#ux .sectionwrapper .col h2 {
    padding-top: 15px;
    color: #40B8E6;
    margin: 10px 0 0 0;
}

#ux .sectionwrapper p {
    margin: 6px 0;
}

#ux .sectionwrapper .col .text a {
    text-decoration: none;
    color: #40B8E6;
}
/************** 03 UX SLUT **************/


/************** 04 ANIMATION **************/
#animation .sectionwrapper .col {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#animation header {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

#animation header .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #51B282;
    margin-right: 10px;
}

#animation header .rect {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #51B282;
    margin-left: 18px;
}

#animation h1 {
    color: #51B282;
    font-size: 1.8rem;
    font-weight: 500;
}

#animation h1 strong {
    font-size: 2.6rem;
}

#animation .sectionwrapper .nav_menu h3 {
    color: #51B282;
}

#animation .sectionwrapper .nav_menu .nav_links .menu_dot {
    background-color: #51B282;
}

#animation .sectionwrapper .col {
    padding-bottom: 10px;
}

#animation .sectionwrapper .col:nth-child(3) {
    padding-bottom: 135px;
}

#animation .sectionwrapper .col h2 {
    padding-top: 15px;
    color: #51B282;
    margin: 10px 0 0 0;
}

#animation .sectionwrapper p {
    margin: 6px 0;
}

#animation .sectionwrapper .col .text a {
    text-decoration: none;
    color: #51B282;
}
/************** 04 ANIMATION SLUT **************/



/************** 05 CONTENT **************/
#content .sectionwrapper .col {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#content header {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

#content header .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E38F53;
    margin-right: 10px;
}

#content header .rect {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #E38F53;
    margin-left: 42px;
}

#content h1 {
    color: #E38F53;
    font-size: 1.8rem;
    font-weight: 500;
}

#content h1 strong {
    font-size: 2.6rem;
}

#content .sectionwrapper .nav_menu h3 {
    color: #E38F53;
}

#content .sectionwrapper .nav_menu .nav_links .menu_dot {
    background-color: #E38F53;
}

#content .sectionwrapper .col {
    padding-bottom: 10px;
}

#content .sectionwrapper .col:nth-child(3) {
    padding-bottom: 135px;
}

#content .sectionwrapper .col h2 {
    padding-top: 15px;
    color: #E38F53;
    margin: 10px 0 0 0;
}

#content .sectionwrapper p {
    margin: 6px 0;
}

#content .sectionwrapper .col .text a {
    text-decoration: none;
    color: #E38F53;
}
/************** 05 CONTENT SLUT **************/


/************** MENU COLORS **************/
.cv_color {
    animation-name: cv_color_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
.cv_color_text {color: #C45450;}

.web_color {
    animation-name: web_color_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
.web_color_text {color: #7F6CB3;}

.ux_color {
    animation-name: ux_color_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
.ux_color_text {color: #40B8E6;}

.animation_color {
    animation-name: animation_color_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
.animation_color_text {color: #51B282;}

.content_color {
    animation-name: content_color_kf;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
.content_color_text {color: #E38F53;}
/************** MENU COLORS SLUT **************/


/************** MEDIA QUERY - 992px **************/
@media screen and (min-width: 992px) and (min-resolution: 120dpi) {
    
    /************** GENERELLE INDSTILLINER **************/
    .sectionwrapper {
        padding: 0 30px;
        max-width: 1520px‬;

        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


    #cv h1, #web h1, #ux h1, #animation h1, #content h1 {
        font-size: 2rem;
    }
    
    #cv h2, #web h2, #ux h2, #animation h2, #content h2 {
        font-size: 1.3rem;
    }
    
    #cv h3, #web h3, #ux h3, #animation h3, #content h3 {
        font-size: 1.3rem;
    }
    
    #cv p, #web p, #ux p, #animation p, #content p {
        font-size: 13px;
    }
    
    #cv a, #web a, #ux a, #animation a, #content a {
        font-size: 0.8rem;
    }

    #web p, #ux p, #animation p, #content p {
        font-size: 0.75rem;
    }
    
    #web a, #ux a, #animation a, #content a {
        font-size: 0.75rem;
    }
    /************** GENERELLE INDSTILLINER SLUT **************/
    


    /************** LAPTOP MENU **************/
    .nav_menu {
        bottom: 3%;
        width: 40vw;
        margin: 0 30vw;
        position: fixed;
        background-color: #262938f8;
        padding: 8px 0 15px 0;
        box-shadow: 4px 4px 8px #00000048;
        text-align: center;
        border-radius: 120px;
    }
    /************** LAPTOP MENU SLUT **************/
    


    /************** LAPTOP HEADER **************/
    header {
        padding: 0 60px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-bottom: 15px;
    }
    
    .nav_menu .nav_links .menu_dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #C45450;
    }

    .nav_menu .nav_links p {
        top: 22%;
    }

    header .rect {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        background-color: #C45450;
        position: absolute;
        right: 30px;
    }
    /************** LAPTOP HEADER SLUT **************/


    



    /************** 01 CV **************/
    #cv header {
        padding: 0 30px;
    }
    
    #cv header .dot {
        background-color: #C45450;
    }

    #cv header .rect {
        background-color: #C45450;
    }

    #cv .sectionwrapper {
        overflow: hidden;
    }

    #cv .sectionwrapper .col_picture h2 {
        font-size: 1.4rem;
    }

    #cv .sectionwrapper .col_picture img {
        display: none;
    }

    #cv .sectionwrapper .col_picture .cv_img {
        display: block;
        height: 85%;
        width: 100%;
        border: 2px solid #707070;
    }

    #cv .sectionwrapper .col_picture {
        flex-grow: 1;
        flex-basis: 250px;
        padding-right: 15px;
    }

    #cv .sectionwrapper .col_text {
        flex-grow: 1;
        flex-basis: 550px;
        padding-left: 15px;
        padding-top: 20px;
    }

    #cv .sectionwrapper .col_text .top {
        padding-bottom: 0;
    }

    #cv .sectionwrapper .col_text .bottom {
        flex-grow: 1;
        flex-basis: 250px;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        justify-content: space-between;
    }

    #cv .sectionwrapper .col_text .bottom p {
        font-size: 0.78rem;
    }
    /************** 01 CV SLUT **************/





    /************** 02 WEB **************/
    #web header {
        padding: 0 30px;
    }
    
    #web header .dot {
        background-color: #7F6CB3;
    }

    #web header .rect {
        background-color: #7F6CB3;
    }

    #web .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #web .sectionwrapper {
        padding-top: 0;
    }

    #web .sectionwrapper .col:first-child {
        padding-right: 20px;
    }

    #web .sectionwrapper .col:nth-child(2) {
        padding: 0 10px;
    }

    #web .sectionwrapper .col:last-child {
        padding-left: 20px;
    }
    /************** 02 WEB SLUT **************/





    /************** 03 UX **************/
    #ux header {
        padding: 0 30px;
    }
    
    #ux header .dot {
        background-color: #40B8E6;
    }

    #ux header .rect {
        background-color: #40B8E6;
    }

    #ux .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #ux .sectionwrapper {
        padding-top: 0;
    }

    #ux .sectionwrapper .col:first-child {
        padding-right: 20px;
    }

    #ux .sectionwrapper .col:nth-child(2) {
        padding: 0 10px;
    }

    #ux .sectionwrapper .col:last-child {
        padding-left: 20px;
    }
    /************** 03 UX SLUT **************/





    /************** 04 ANIMATION **************/
    #animation header {
        padding: 0 30px;
    }
    
    #animation header .dot {
        background-color: #51B282;
    }

    #animation header .rect {
        background-color: #51B282;
    }

    #animation .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #animation .sectionwrapper {
        padding-top: 0;
    }

    #animation .sectionwrapper .col:first-child {
        padding-right: 20px;
    }

    #animation .sectionwrapper .col:nth-child(2) {
        padding: 0 10px;
    }

    #animation .sectionwrapper .col:last-child {
        padding-left: 20px;
    }
    /************** 04 ANIMATION SLUT **************/





    /************** 05 CONTENT **************/
    #content header {
        padding: 0 30px;
    }
    
    #content header .dot {
        background-color: #E38F53;
    }

    #content header .rect {
        background-color: #E38F53;
    }

    #content .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #content .sectionwrapper {
        padding-top: 0;
    }

    #content .sectionwrapper .col:first-child {
        padding-right: 20px;
    }

    #content .sectionwrapper .col:nth-child(2) {
        padding: 0 10px;
    }

    #content .sectionwrapper .col:last-child {
        padding-left: 20px;
    }
    /************** 05 CONTENT SLUT **************/










}
/************** MEDIA QUERY - 992px SLUT **************/



/************** MEDIA QUERY - LAPTOP **************/
@media screen and (min-width: 1200px) and (min-resolution: 120dpi) {
    
    /************** GENERELLE INDSTILLINER **************/
    .sectionwrapper {
        padding: 0 60px;
        max-width: 1520px‬;

        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


    #cv h1, #web h1, #ux h1, #animation h1, #content h1 {
        font-size: 2rem;
    }
    
    #cv h2, #web h2, #ux h2, #animation h2, #content h2 {
        font-size: 1.4rem;
    }
    
    #cv h3, #web h3, #ux h3, #animation h3, #content h3 {
        font-size: 1.3rem;
    }
    
    #cv p, #web p, #ux p, #animation p, #content p {
        font-size: 13px
    }
    
    #cv a, #web a, #ux a, #animation a, #content a {
        font-size: 0.8rem;
    }
    /************** GENERELLE INDSTILLINER SLUT **************/
    


    /************** LAPTOP MENU **************/
    .nav_menu {
        bottom: 3%;
        width: 40vw;
        margin: 0 30vw;
        position: fixed;
        background-color: #262938f8;
        padding: 8px 0 15px 0;
        box-shadow: 4px 4px 8px #00000048;
        text-align: center;
        border-radius: 120px;
    }
    /************** LAPTOP MENU SLUT **************/
    


    /************** LAPTOP HEADER **************/
    header {
        padding: 0 60px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-bottom: 15px;
    }
    
    .nav_menu .nav_links .menu_dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #C45450;
    }

    .nav_menu .nav_links p {
        top: 22%;
    }

    header .rect {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        background-color: #C45450;
        position: absolute;
        right: 60px;
    }
    /************** LAPTOP HEADER SLUT **************/


    



    /************** 01 CV **************/
    #cv header {
        padding: 0 60px;
    }
    
    #cv header .dot {
        background-color: #C45450;
    }

    #cv header .rect {
        background-color: #C45450;
    }

    #cv .sectionwrapper {
        overflow: hidden;
    }

    #cv .sectionwrapper .col_picture {
        flex-grow: 1;
        flex-basis: 400px;
        padding-right: 15px;
    }

    #cv .sectionwrapper .col_text {
        flex-grow: 1;
        flex-basis: 600px;
        padding-left: 15px;
        padding-top: 20px;
    }

    #cv .sectionwrapper .col_text .top {
        padding-bottom: 0;
    }

    #cv .sectionwrapper .col_text .bottom {
        flex-grow: 1;
        flex-basis: 250px;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        justify-content: space-between;
    }

    #cv .sectionwrapper .col_text .bottom p {
        font-size: 0.8rem;
    }
    /************** 01 CV SLUT **************/





    /************** 02 WEB **************/
    #web header {
        padding: 0 60px;
    }
    
    #web header .dot {
        background-color: #7F6CB3;
    }

    #web header .rect {
        background-color: #7F6CB3;
    }

    #web .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #web .sectionwrapper {
        padding-top: 0;
    }

    #web .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #web .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #web .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 02 WEB SLUT **************/





    /************** 03 UX **************/
    #ux header {
        padding: 0 60px;
    }
    
    #ux header .dot {
        background-color: #40B8E6;
    }

    #ux header .rect {
        background-color: #40B8E6;
    }

    #ux .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #ux .sectionwrapper {
        padding-top: 0;
    }

    #ux .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #ux .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #ux .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 03 UX SLUT **************/





    /************** 04 ANIMATION **************/
    #animation header {
        padding: 0 60px;
    }
    
    #animation header .dot {
        background-color: #51B282;
    }

    #animation header .rect {
        background-color: #51B282;
    }

    #animation .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #animation .sectionwrapper {
        padding-top: 0;
    }

    #animation .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #animation .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #animation .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 04 ANIMATION SLUT **************/





    /************** 05 CONTENT **************/
    #content header {
        padding: 0 60px;
    }
    
    #content header .dot {
        background-color: #E38F53;
    }

    #content header .rect {
        background-color: #E38F53;
    }

    #content .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #content .sectionwrapper {
        padding-top: 0;
    }

    #content .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #content .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #content .sectionwrapper .col:last-child {
        padding-left: 50px;
    }

    /************** 05 CONTENT SLUT **************/










}
/************** MEDIA QUERY - LAPTOP SLUT **************/




/************** MEDIA QUERY - DESKTOP **************/
@media screen and (min-width: 1500px) {
    
    /************** GENERELLE INDSTILLINER **************/
    .sectionwrapper {
        padding: 30px 200px 0 200px;
        max-width: 1520px‬;

        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #cv h1, #web h1, #ux h1, #animation h1, #content h1 {
        font-size: 1.8rem;
    }
    
    #cv h2, #web h2, #ux h2, #animation h2, #content h2 {
        font-size: 2rem;
    }
    
    #cv h3, #web h3, #ux h3, #animation h3, #content h3 {
        font-size: 1.3rem;
    }
    
    #cv p, #web p, #ux p, #animation p, #content p {
        font-size: 1rem;
    }
    
    #cv a, #web a, #ux a, #animation a, #content a {
        font-size: 1rem;
    }
    /************** GENERELLE INDSTILLINER SLUT **************/
    


    /************** DESKTOP MENU **************/
    .nav_menu {
        bottom: 3%;
        width: 26vw;
        margin: 0 37vw;
        position: fixed;
        background-color: #262938f8;
        padding: 8px 0 15px 0;
        box-shadow: 4px 4px 8px #00000048;
        text-align: center;
        border-radius: 120px;
    }
    /************** DESKTOP MENU SLUT **************/
    


    /************** DEKSTOP HEADER **************/
    header {
        padding: 60px 200px 0 200px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-bottom: 15px;
    }
    
    header .dot {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #C45450;
        margin-right: 10px;
    }

    header .rect {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        background-color: #C45450;
        position: absolute;
        right: 200px;
    }
    /************** DEKSTOP HEADER SLUT **************/


    



    /************** 01 CV **************/
    #cv header {
        padding: 30px 200px 0 200px;
    }
    
    #cv header .dot {
        background-color: #C45450;
    }

    #cv header .rect {
        background-color: #C45450;
    }

    #cv .sectionwrapper .col_picture {
        flex-grow: 1;
        flex-basis: 500px;
        padding-right: 30px;
    }

    #cv .sectionwrapper .col_text {
        flex-grow: 1;
        flex-basis: 500px;
        padding-left: 30px;
        padding-top: 50px;
    }

    #cv .sectionwrapper .col_text .top {
        padding-bottom: 40px;
    }

    #cv .sectionwrapper .col_text .bottom {
        flex-grow: 1;
        flex-basis: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /************** 01 CV SLUT **************/





    /************** 02 WEB **************/
    #web header {
        padding: 30px 200px 0 200px;
    }
    
    #web header .dot {
        background-color: #7F6CB3;
    }

    #web header .rect {
        background-color: #7F6CB3;
    }

    #web .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #web .sectionwrapper {
        padding-top: 120px;
    }

    #web .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #web .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #web .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 02 WEB SLUT **************/





    /************** 03 UX **************/
    #ux header {
        padding: 30px 200px 0 200px;
    }
    
    #ux header .dot {
        background-color: #40B8E6;
    }

    #ux header .rect {
        background-color: #40B8E6;
    }

    #ux .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #ux .sectionwrapper {
        padding-top: 120px;
    }

    #ux .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #ux .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #ux .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 03 UX SLUT **************/





    /************** 04 ANIMATION **************/
    #animation header {
        padding: 30px 200px 0 200px;
    }
    
    #animation header .dot {
        background-color: #51B282;
    }

    #animation header .rect {
        background-color: #51B282;
    }

    #animation .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #animation .sectionwrapper {
        padding-top: 120px;
    }

    #animation .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #animation .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #animation .sectionwrapper .col:last-child {
        padding-left: 50px;
    }
    /************** 04 ANIMATION SLUT **************/





    /************** 05 CONTENT **************/
    #content header {
        padding: 30px 200px 0 200px;
    }
    
    #content header .dot {
        background-color: #E38F53;
    }

    #content header .rect {
        background-color: #E38F53;
    }

    #content .sectionwrapper .col {
        flex-basis: 300px;
        flex-grow: 1;
    }

    #content .sectionwrapper {
        padding-top: 120px;
    }

    #content .sectionwrapper .col:first-child {
        padding-right: 50px;
    }

    #content .sectionwrapper .col:nth-child(2) {
        padding: 0 25px;
    }

    #content .sectionwrapper .col:last-child {
        padding-left: 50px;
    }

    /************** 05 CONTENT SLUT **************/










}
/************** MEDIA QUERY - DESKTOP SLUT **************/



/************** ANIMATIONER **************/
@keyframes cv_color_kf {
    0% {background-color: #707070; transform: scale(1);}
    10% {transform: scale(0.4);}
    100% {background-color: #C45450; transform: scale(1);} 
}

@keyframes web_color_kf {
    0% {background-color: #707070; transform: scale(1);}
    10% {transform: scale(0.4);}
    100% {background-color: #7F6CB3; transform: scale(1);} 
}

@keyframes ux_color_kf {
    0% {background-color: #707070; transform: scale(1);}
    10% {transform: scale(0.4);}
    100% {background-color: #40B8E6; transform: scale(1);} 
}

@keyframes animation_color_kf {
    0% {background-color: #707070; transform: scale(1);}
    10% {transform: scale(0.4);}
    100% {background-color: #51B282; transform: scale(1);} 
}

@keyframes content_color_kf {
    0% {background-color: #707070; transform: scale(1);}
    10% {transform: scale(0.4);}
    100% {background-color: #E38F53; transform: scale(1);} 
}

.show {
    animation-name: show_kf;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode: forwards;
}
@keyframes show_kf {
    0% {
        display: none;
        transform: translateY(1000px) scaleY(0) scaleX(.5);
        transform-origin: 50% 50%;
        filter: blur(30px);
        opacity: 0;
    }

    100% {
        display: initial;
        transform: translateY(1) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}


/************** ANIMATIONER SLUT **************/